
.logo_ManoVelho {
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    margin: 0;
    text-align: center;
}

.logo_ManoVelho .marca-logo {
    display: block;
    max-width: 250px;
    width: auto;
    height: auto;
}

.marca-detalhe {
    position: relative;
    overflow: visible;
    padding: 20px 0 60px 0; 
    margin-left: 20px;
    margin-right: 20px; 
    margin-bottom: 40px;
}

.marca-detalhe .container {
    margin-top: -50px;
}

.intro-marca {
    max-width: 700px;
}

.observacao h3 {
    background-color: #002B49;
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
    padding: 10px 10px;
    max-width: 400px; 
    margin: 20px auto; 
    border-radius: 10px;
    font-style: normal;
    text-align: center;
}

.produto-lista {
    margin-top: 40px;
}

.produto-item {
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

.produto-img {
    width: 80%;
    height: 250px;
    padding: 30px 30px; 
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.produto-item h4 {
    font-size: 25px;
    color: var(--dark-text);
    margin-bottom: 5px;
}

.produto-item p {
    font-size: 18px;
    color: #777;
    text-align: justify;
    font-weight: bolder;
    padding: 5px 0;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #002B49;
    padding: 10px 10px;
    margin-right: -50px;
    margin-bottom: -15px;
    font-size: 1.1rem; 
    color: rgb(234, 224, 224);
    border-top: 1px solid #eee;
}

.direitos_autorais p {
    margin: 0; 
    text-align: center; 
    font-size: 1.1rem; 
    color: rgb(234, 224, 224);
}

@media (max-width: 600px) {
    .logo_ManoVelho {
        top: -40px;
    }
    
    .logo_ManoVelho .marca-logo {
        max-width: 140px;
    }
    
    .produto-item {
        flex-basis: 100%;
    }
}
