
.marca-prado {
    width: auto;
    margin: -120px auto 20px; 
    position: relative; 
    overflow: visible; 
}

.marca-detalhe {
    padding: 90px 0;  
}

.marca-logo {
    max-width: 250px;
    margin-bottom: 10px; 
}

.intro-marca {
    max-width: 800px; 
    margin: 30px auto 30px; 
}

.observacao h3 {
    background-color: #002B49;
    font-size: 20px; 
    color: white;
    margin-bottom: 30px; 
    padding: 10px 10px;
    max-width: 400px; 
    margin: 20px auto; 
    border-radius: 10px; 
    font-style: normal; 
    text-align: center; 
}

.produto-item {
    box-sizing: border-box; 
}

.produto-img {
    max-width: 70%; 
    height: auto; 
    border-radius: 5px; 
    margin-bottom: 15px;
}

.produto-item h4 {
    font-size: 25px; 
    color: var(--dark-text); 
    margin-bottom: 5px; 
}

.produto-item p {
    font-size: 18px; 
    color: #777;
    text-align: justify;
    font-weight: bolder;
    padding: 10px 45px; 
    margin-bottom: 15px;
}

.cta-button {
    margin-top: 70px; 
    margin-bottom: 0;  
}

footer {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: #002B49; 
    text-align: center;
    margin: -5px; 
    padding: 1px 10px;  
    font-size: 1rem; 
    color: rgb(234, 224, 224); 
    line-height: 1;          
    min-height: unset;      
}
