
.marca-detalhe {
    padding: 20px 250px 90px 250px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.intro-marca {
    font-size: 18px; 
}

.destaques-linha {
    margin-top: -80px; 
    margin-bottom: 20px; 
}

.tag-produto {
    padding: 10px 10px; 
    margin-top: 80px; 
}

.produto-item {
    box-sizing: border-box; 
}

.produto-img {
    max-width: 80%; 
    height: auto; 
    border-radius: 5px; 
    margin-top: 100px; 
    margin-bottom: 15px; 
}

.produto-item h4 {
    font-size: 25px; 
    color: var(--dark-text); 
    margin-bottom: 5px; 
}

.produto-item p {
    font-size: 20px; 
    color: #777; 
}

footer {
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: #002B49; 
    text-align: center; 
    margin: -5px; 
    padding: -10px 5px;
    font-size: 1rem; 
    color: rgb(234, 224, 224); 
    line-height: 1;          
    min-height: unset;         
}
