
.logo_grano {
    text-align: center;
    margin-bottom: 20px;
    margin-top: -80px; 
}

.observacao h3 {
    background-color: #002B49;
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
    padding: 10px 10px;
    max-width: 400px; 
    margin: 20px auto; 
    border-radius: 10px;
    font-style: normal;
    text-align: center;
}

.produto-item {
    box-sizing: border-box;
    padding: 10px;
}

.produto-img {
    width: 80%;
    height: 250px;
    padding: 80px 30px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.produto-item h4 {
    font-size: 25px;
    color: var(--dark-text);
    margin-bottom: 5px;
}

.produto-item p {
    font-size: 18px;
    text-align: justify;
    font-weight: bolder;
    padding: 5px 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #002B49;
    text-align: center;
    margin: 10px;
    padding: 20px 0;
    font-size: 1.1rem;
    color: rgb(234, 224, 224);
    border-top: 1px solid #eee;
}

.direitos_autorais p {
    margin: -10px;
    font-size: 1.1rem;
    color: rgb(234, 224, 224);
}

@media (max-width: 600px) {
    .produto-item {
        flex-basis: 100%;
    }
}
