
html {
    scroll-padding-top: 80px;
}

.container h3 {
    display: inline-block;
    width: auto;
    height: auto;
    font-size: 1.45rem;
    font-weight: normal;
    margin-top: 70px;
    text-align: center; 
    color: white;
    background-color: #002B49;
    font-weight: 400;
    padding: 10px 10px;
    border-radius: 10px;
}

.marca-detalhe {
    padding: 90px 0;
}

.marca-logo {
    max-width: 400px;
    margin-top: -35px;
}

.intro-marca {
    margin: 0 auto 20px;
    font-size: 15px;
}

.destaques-linha {
    margin-bottom: 40px;
}

.produto-item {
    box-sizing: border-box; 
}

.produto-img {
    max-width: 80%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.produto-item h4 {
    font-size: 25px;
    color: var(--dark-text);
    margin-bottom: 5px;
}

.produto-item p {
    font-size: 18px;
    color: #777;
    line-height: 1.4;
    text-align: justify;
    padding-right: 40px;
    padding-left: 40px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #002B49;
    text-align: center;
    margin: -5px;
    padding: 1px 10px;
    font-size: 1rem;
    color: rgb(234, 224, 224);
    line-height: 1;
    min-height: unset;   
}
